;; juxt - aero config..
;; https://github.com/juxt/aero

{:number-of-peers 8
 :topic "beregn"

 :tenancy-id  #env BATCH_VUR_TENANCY_ID
 :kafka-zookeeper   #cond {:default "127.0.0.1:2181"
                           :docker  #env [ZK_ADDR "127.0.0.1:2181"]}
 :peer-config {:zookeeper/address        #cond {:default "127.0.0.1:2188"
                                                :docker  #env [ZK_ADDR "127.0.0.1:2188"]}
               :onyx.peer/job-scheduler  :onyx.job-scheduler/balanced
               :onyx.messaging/impl      :aeron
               :onyx.messaging/peer-port 40200
               :onyx.messaging/bind-addr "127.0.0.1"}

 :dev-env     {:zookeeper/address     #cond {:default "127.0.0.1:2188"}
               :zookeeper/server?     true
               :zookeeper.server/port 2188}
 }



